{% extends 'base.html.twig' %}
{% block body %}


<!-- ======= Header ======= -->
    
<header id="header" class="fixed-top">

<div class="container d-flex align-items-center">
<a href="index.html" class="logo me-auto me-lg-0"><img src="{{asset('assets/img/logo1.png')}}" alt="" class="img-fluid"></a>

<h1 class="logo me-auto"><a href="/Affiche"><span>ECO</span>PARTAGE</a></h1>
<!-- Uncomment below if you prefer to use an image logo -->
<!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="{{asset('assets/img/logo.png')}}" alt="" class="img-fluid"></a>-->

<nav id="navbar" class="navbar order-last order-lg-0">
<ul>
       
 <li class="dropdown"><a href="#"><span>Publication</span> <i class="bi bi-chevron-down"></i></a>
<ul>
<li><a href="about.html">Demande</a></li>
<li><a href="team.html">Actualités</a></li>
</ul>
</li>
<li class="dropdown"><a href="#"><span>Dépots</span> <i class="bi bi-chevron-down"></i></a>
<ul>
<li><a href="/ajouterDepots">Je Donne</a></li>
<li><a href="/RecupereDepotsutilisateur">Je Récupére</a></li>
<li><a href="/listDepotsutilisateur">Voir Dépots</a></li>
<li><a href="/listCategorieutilisateur">Voir Categorie</a></li>
</ul>
<li><a href="portfolio.html">Produits</a></li>
<li><a href="pricing.html">Formations</a></li>
<li><a href="blog.html">événements</a></li>
<li><a href=login.html.twig">s'authentifier</a>
</li>

</ul>
<i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->
<div class="header-social-links d-flex">
<a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
<a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
<a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
<a href="#" class="linkedin"><i class="bu bi-linkedin"></i></a>
</div>

</div>
</header><!-- End Header -->
   <br></br>
   
{% block content %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs" style="background-color: black;">
        <div class="container">
           <div class="d-flex justify-content-center align-items-center">
            <h2 style="color: #00ff00 ;">Récupération Des Dépôts</h2>
           </div>
        </div>
      </section><!-- End Breadcrumbs -->

        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">
                <div class="row">

                    {% for index, Depots in listDepots %}
                        {% if index % 2 == 0 %}
                            </div><div class="row">
                        {% endif %}
                        <div class="col-lg-6 entries">
                               <article class="entry">
                               <div class="entry-img text-center">
                               <img src="{{ asset('uploads/images/' ~ Depots.Image) }}" alt="" class="img-fluid">
                        </div>
                            <h2 class="entry-title">
                               <a href="{{ path('app_afficher_Depots_utilisateur', {'id': Depots.id}) }}">{{ Depots.Nom }}</a>
                             </h2>
                             <div class="entry-meta"></div>
                             <div class="entry-content">
                             <p>{{ Depots.Adresse }}</p>
                             <p>{{ Depots.Etat }}</p>
                             <div class="read-more text-center">
                            <a href="{{ path('app_Recupere_Depots_utilisateur', {'id': Depots.id}) }}">Se Récupérer</a>
                        </div>
                           </div>
                              </article><!-- End blog entry -->
                        </div>

                    {% endfor %}
    <link rel="stylesheet" href="style.css">              
          </div>
            </div>
        </section><!-- End Blog Section -->
    <div class="text-center">
    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    </div>
    </main>
{% endblock %}

<br></br>
<br></br>
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top  ">
            <div class="container ">
   <div class="footer-contact text-center  ">

    <a href="index.html" class="logo"><img src="{{asset('assets/img/logo1.png')}}"  alt="texte alternatif" width=5% height=5% class="img-fluid"></a>
       <h3>ECOPARTAGE</h3>

   </div>
   <div class="row">

       <div class="col-lg-2 col-md-6 footer-links">

    <ul>
        <li><i class="bx bx-chevron-right"></i> <a href="#">acceuil</a></li>
    </ul>
       </div>

       <div class="col-lg-2 col-md-6 footer-links">

    <ul>
        <li><i class="bx bx-chevron-right"></i> <a href="#">Publication</a></li>
    </ul>
       </div>
       <div class="col-lg-2 col-md-6 footer-links">

    <ul>
        <li><i class="bx bx-chevron-right"></i> <a href="#">dépôts</a></li>
    </ul>
       </div>
       <div class="col-lg-2 col-md-6 footer-links">

    <ul>
        <li><i class="bx bx-chevron-right"></i> <a href="#">Produits</a></li>
    </ul>
       </div>
       <div class="col-lg-2 col-md-6 footer-links">

    <ul>
        <li><i class="bx bx-chevron-right"></i> <a href="#">Formations</a></li>
    </ul>
       </div>
       <div class="col-lg-2 col-md-6 footer-links">

    <ul>
        <li><i class="bx bx-chevron-right"></i> <a href="#">événements</a></li>
    </ul>
       </div>


       <div class="text-center footer-newsletter">

    <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
       </div>


   </div>
            </div>
        </div>


    </footer><!-- End Footer -->

    
{% endblock %}