{% extends 'base.html.twig' %}

{% block title %}Edit Commentaire{% endblock %}

{% block body %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <a href="/home" class="logo me-auto me-lg-0"><img src="{{asset('assets/img/logo1.png')}}" alt="" class="img-fluid"></a>


        <h1 class="logo me-auto"><a href="/home"><span>ECO</span>PARTAGE</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="{{asset('assets/img/logo.png')}}" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a href="/home" >acceuil</a></li>

                <li class="dropdown"><a href="#"><span>Publication</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Demande</a></li>
                        <li><a href="#">Actualités</a></li>
                    </ul>
                </li>
                <li><a href="#">dépôts</a></li>
                <li><a href="#">Produits</a></li>
                <li><a href="/formation/" class="active">Formations</a></li>
                <li><a href="#">événements</a></li>
                <li><a href="#">s'authentifier</a>
                </li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="header-social-links d-flex">
            <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></a>
        </div>

    </div>
</header><!-- End Header -->
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Details</h2>
            <ol>
                <li><a href="/home">Acceuil</a></li>
                <li><a href="/formation/">Formations</a></li>
                <li>Details</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src= {{asset('uploads/' ~ formation.imageformation)}} class="img-fluid"  >
                    </div>

                    <h2 class="entry-title">
                        <a href="#">{{ formation.nomFormation }}</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="">{{ formation.formateur }}</a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href=""><time >{{ formation.dateFormation ? formation.dateFormation|date('Y-m-d') : '' }}</time></a></li>
                            <li class="d-flex align-items-center"><i class="bi bi-geo-alt"></i> <a href="">{{ formation.lieuFormation }}</a></li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            {{ formation.descriptionFormation }}
                        </p>
                    </div>
                    <div class="reply-form">
                        <h4>Modifier Commentaire</h4>
                     {{ include('commentaire/_form.html.twig', {'button_label': 'modifier commentaire'}) }}
                        </div>



                </article>
            </div>
        </div>
    </div>
</section>
    <footer id="footer">

        <div class="footer-top  ">
            <div class="container ">
                <div class="footer-contact text-center  ">

                    <a href="/home" class="logo"><img src="/assets/img/logo1.png"  alt="texte alternatif" width=5% height=5% class="img-fluid"></a>
                    <h3>ECOPARTAGE</h3>

                </div>
                <div class="row">

                    <div class="col-lg-2 col-md-6 footer-links">

                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/home">Acceuil</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">

                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Publication</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">

                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Dépôts</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">

                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Produits</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">

                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/formation">Formations</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">

                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">événements</a></li>
                        </ul>
                    </div>


                    <div class="text-center footer-newsletter">

                        <div class="social-links text-center text-md-right pt-3 pt-md-0">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </footer><!-- End Footer -->
{% endblock %}
